.container {
    margin-top: 10px !important;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img {
    width: 40px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.navbar img:hover {
    opacity: 0.7;
}